
 html {
    box-sizing: border-box;
    margin: 10px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 20px;
  }
  article {
  }
  h1 {
    font-size: 30px;
  }
  h2 {
  }
  img {
      max-width: 100%;
      margin: 20px;
  }
  main {
  }
  section {
  }
  figure {
      margin: 0;
  }
  figcaption {
    font-size: .8em;
  }

@media screen and (min-width:768px) {
  body {
    background-color: rgb(255, 222, 228);
    font-size: 15px;
    margin: 9px;
  }

  figure {
    width: 30%;
    margin: 20px;
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  }

  @media screen and (min-width:992px) {
    body {
        background-color: rgb(196, 255, 245);
        font-size: 20px;
        margin: 5px;
        max-width: 80%;

    }
  }

  
